doctype html
html(lang = 'en')
    head
        title = To Do List
        include bootstrapIncludes.pug
    body
        div.container
            div.row
                div.col.clearfix
                    h1.float-left To Do
                    a.btn.btn-primary.float-right(href = "/addTask") New Task
            div.table-responsive
                table.table
                    thead
                        tr
                            th(scope = "col") Name
                            th(scope = "col") Description
                            th(scope = "col") Added
                            th(scope = "col") Complete
                    tbody
                        each task in tasks
                            tr
                                td= task.name
                                td= task.desc
                                td= moment(task.created).format('M[/]D[/]YY[ ]h[:]mmA')
                                td
                                    form(action = "./deleteTask" method = "POST")
                                        input(type = "hidden" name = "id" value = task._id)
                                        button.btn.btn-primary(type = "submit") Complete