doctype html
html
    head
        title New Task
        include bootstrapIncludes.pug
    body
        div.container
            h1 New Task
            form(action = "/addTask", method = "POST")
                div.form-group
                    label(for = "name") Name
                    input.form-control(name = "name" autocomplete = "off")
                div.form-group
                    label(for = "desc") Decription:
                    input.form-control(name = "desc" autocomplete = "off")

                button.btn.btn-primary(type = "submit") Add
            if(error)
                br
                div.alert.alert-danger(role = "alert")= error